* {
	margin: 0;
	padding: 0;
}

html {
	position: relative;
	height: 100%;
	width: 100%;
}

body {
	background-color: blue; 
}

#buttonDiv {
	text-align: center;
	margin: 0 auto;
	margin-top: 200px;
}

[class=display-1] , .jumbotron {
	text-align: center;
}

.jumbotron {
	
}

.container {
	width: 100%;
	background-color: purple;
	
}

#box1, #box2, #box3 {
	background-color: white;
	height: 300px;
	width: 300px;
	border-radius: 10px
}

div p {
	text-align: center;
	padding-top: 100px;
}

.new {
	background-color: red !important;
	height: 300px;
	width: 300px;
	border-radius: 10px
}

.hidden {
	display: none;
}